<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.koelle.christian.trickytripper"
    android:installLocation="auto">

    <application>
        <provider
            android:name=".provider.TrickyTripperFileProvider"
            android:authorities="de.koelle.christian.trickytripperfileprovider.debug"
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>
